<!-- start page title -->
<section class="cover-background" data-parallax-background-ratio="0.5" style="background: url('{{ image_url }}');">
    <div class="opacity-extra-medium-2 bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div
                class="col-lg-8 col-md-10 position-relative one-half-screen d-flex justify-content-end flex-column sm-h-400px">
                <h2 class="alt-font text-white font-weight-500 margin-5-half-rem-bottom w-85 lg-w-100">{{ title }}</h2>
                <ul class=" list-unstyled">
                    <li class="d-block d-sm-inline-block margin-50px-right xs-margin-10px-bottom xs-no-margin-right">
                        <span class="text-white opacity-5 d-block">Author name</span>
                        <a href="/about-us" class="text-white alt-font">Aarti Mahida</a>
                    </li>
                    <li class="d-block d-sm-inline-block margin-50px-right xs-margin-10px-bottom xs-no-margin-right">
                        <span class="text-white opacity-5 d-block">Publication date</span>
                        <a href="blog-grid.html" class="text-white alt-font">{{ date }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

        {{ page_code }}
