<!-- start footer -->
        <footer class="footer-light">
            <div class="footer-top padding-six-tb lg-padding-eight-tb md-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start footer column -->
                        <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom">
                            <a href="index.html" class="footer-logo margin-25px-bottom d-inline-block"><img src="/images/logo-fast-blue-black.png" data-at2x="/images/logo-fast-blue-black@2x.png" alt=""></a>
                            <p class="margin-30px-bottom">Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore.</p>
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon">
                                    <li><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-lg-2 offset-sm-1 col-sm-5 order-sm-2 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Company</span>
                            <ul>
                                <li><a href="about-us.html">About company</a></li>
                                <li><a href="our-services.html">Company services</a></li>
                                <li><a href="our-team.html">Job opportunities</a></li>
                                <li><a href="our-team.html">Creative people</a></li>
                                <li><a href="contact-us-classic.html">Contact us</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-lg-2 col-sm-5 offset-sm-1 offset-lg-0 order-sm-4 order-lg-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Customer</span>
                            <ul>                           
                                <li><a href="faq.html">Client support</a></li>
                                <li><a href="latest-news.html">Latest news</a></li>
                                <li><a href="our-story.html">Company story</a></li>
                                <li><a href="pricing-packages.html">Pricing packages</a></li>
                                <li><a href="who-we-are.html">Who we are</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-xl-3 offset-xl-1 col-lg-4 col-sm-6 order-sm-3 order-lg-0 last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Subscribe to newsletter</span>
                            <p>Enter your email address for receiving valuable newsletters.</p>
                            <form action="email-templates/subscribe-newsletter.php" method="post">
                                <div class="newsletter-style-03 position-relative margin-25px-bottom">
                                    <input class="small-input border-color-medium-gray rounded m-0 required" name="email" placeholder="Enter your email address" type="email">
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-gradient-sky-blue-pink rounded-end submit" type="submit"><i class="feather icon-feather-mail icon-extra-small m-0"></i></button>
                                    <div class="form-results rounded d-none position-absolute"></div>
                                </div>
                            </form>
                            <p>&copy; Copyright 2024 <a href="index.html" class="text-decoration-line-bottom text-extra-dark-gray font-weight-500">Litho</a></p>
                        </div>
                        <!-- end footer column -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->