<!-- start footer -->
        <footer class="footer-light">
            <div class="footer-top padding-six-tb lg-padding-eight-tb md-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start footer column -->
                        <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom">
                            <a href="/" class="footer-logo margin-25px-bottom d-inline-block"><img src="{{ brand:logo_dark }}" data-at2x="{{ brand:logo_dark }}" alt="Treasure4ever Studio Narre Warren"></a>
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon">
                                    <li><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-lg-2 offset-sm-1 col-sm-5 order-sm-2 order-lg-0 md-margin-40px-bottom xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Our Studio</span>
                            <ul>
                                <li><a href="/about-us">About Treasure4ever</a></li>
                                <li><a href="/service-categories/photography">Photography Services</a></li>
                                <li><a href="/service-categories/castings">Baby Casting in Melbourne</a></li>
                                <li><a href="/blogs/preserving-the-magic-newborn-photography-in-narre-warren">Newborn Photography Blog</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-lg-2 col-sm-5 offset-sm-1 offset-lg-0 order-sm-4 order-lg-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Explore More</span>
                            <ul>
                                <li><a href="/faqs">FAQs</a></li>
                                <li><a href="/blogs">Our Blog</a></li>
                                <li><a href="/photography-services/maternity-photography">Maternity Photoshoot Victoria</a></li>
                                <li><a href="/photography-services/custom-packages">Custom Packages</a></li>
                                <li><a href="/gallery">Photo Gallery</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-xl-3 offset-xl-1 col-lg-4 col-sm-6 order-sm-3 order-lg-0 last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 d-block text-extra-dark-gray margin-20px-bottom xs-margin-10px-bottom">Stay Connected</span>
                            <p>Subscribe for updates on newborn photography and baby casting in Narre Warren.</p>
                            <form action="/email-templates/subscribe-newsletter.php" method="post">
                                <div class="newsletter-style-03 position-relative margin-25px-bottom">
                                    <input class="small-input border-color-medium-gray rounded m-0 required" name="email" placeholder="Enter your email for Narre Warren updates" type="email">
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-gradient-sky-blue-pink rounded-end submit" type="submit"><i class="feather icon-feather-mail icon-extra-small m-0"></i></button>
                                    <div class="form-results rounded d-none position-absolute"></div>
                                </div>
                            </form>
                            <p>© Copyright 2025 <a href="/" class="text-decoration-line-bottom text-extra-dark-gray font-weight-500">Treasure4ever Studio</a></p>
                        </div>
                        <!-- end footer column -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
